@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Inter, system-ui, -apple-system, sans-serif;
    box-sizing: border-box;
}

select {
    -webkit-appearance: none;
}

#search-results thead th {
    color: #aaa;
    font-weight: 500;
}

#search-results td, #search-results th {
    border-bottom: 1px solid #e6e6e6;
    text-align: left;
    font-weight: 400;
    padding: 8px 0;
}

#search-results td {
    color: #aaa;
}

#search-results th {
    color: #000;
}