@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Inter, system-ui, -apple-system, sans-serif;
    box-sizing: border-box;
}

select {
    -webkit-appearance: none;
}

table * {
    font-size: 13px;
}

table thead th {
    color: #aaa;
    font-weight: 500;
    text-transform: uppercase;
}

table td, table th {
    border-bottom: 1px solid #e6e6e6;
    text-align: left;
    font-weight: 400;
    padding: 8px 0;
}

table td {
    color: #000;
}

table th {
    font-weight: 600;
}